

ul{
   padding: 0px;
    background-color:rgb(44, 44, 44);
    width: 500px;
   
}

li {
    margin-left: 0px;
    color: white;
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style: none;
    display: inline-block;
    }

.poslednja{
    float: right;
    margin-right: 15px;
}

.prva{
    background-color: yellowgreen;
}

a{
    padding: 15px;
    text-decoration: none;
    background-color: rgb(44, 44, 44);
    color: white;
    display: block;
} 

a:hover {
    background-color: black;
    
}

div{
    height: 300px;
    width: 300px;
    display: inline-block;
}

.plavi{
    background-color: blue;
    position: relative;
    top:200px;
    left: 50px;
    z-index: -2;
}

.zeleni{
    background-color: yellowgreen;
    position: relative;
    left: -70px;
    z-index: -1;
}

.zuti{
    background-color: yellow;
    position: relative;
    top: 250px;
    left: -350px;
}


