h1{
    color:white;
    padding-left: 20px;
    
}

.paragraf{
    color:white;
    font-size: 20px;
    padding-left: 20px;
}

div{
    border: 3px silver solid;
    background-color:steelblue;
    border-radius: 30px;
    width: 630px;
    height: 500px;
}

img {
    width: 500px;
    height: 250px;
    padding-left: 10px;
    border-radius: 30px;
}
