body{
    margin: 0px;
    padding: 0px;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}


header{
    padding: 20px;
    width: 100%;
    height: 12vh;
    background-color: yellow;
}

.main{
    margin-top: 0.5vh;
    width: 100%;
    height: 87.5vh;
    display: flex;
}

.main-left{
    width: 60%;
    height: 74.5vh;

}

article{
    padding: 20px;
    width: 100%;
    height: 74.5vh;
    background-color: yellow;
}

footer{
    padding: 20px;
    margin-top: 0.5vh;
    height: 12.5vh;
    background-color: yellow;

}

.main-right{
    display: flex;
    width: 40%;
    height: 100%;
}

nav,aside{
    padding: 20px;
    margin-left: 0.5vh;
    width: 60%;
    height: 100%;
    background-color: yellow;
}

aside{
    width: 40%;
}

